alipay-sdk-python==3.3.202
asgiref==3.2.3
Django==3.0.2
django-filter==2.2.0
djangorestframework==3.11.0
Markdown==3.1.1
pyasn1==0.4.8
pycrypto==2.6.1
pycryptodome==3.9.4
pytz==2019.3
rsa==4.1
sqlparse==0.3.0
